.App {
  display: flex;
  width: 600px;
  height: 200px;
  margin: 60px auto;
}

.App form {
  width: 300px;
  height: 200px;
  margin-top: 25px;
}

.App form button {
  width: 100px;
  height: 30px;
  color: white;
  background-color: skyblue;
  border: 1px solid whitesmoke;
  border-radius: 6px;
}

.App form button:hover {
  cursor: pointer;
  border: 1px solid lightblue;
}

.App form button:active {
  border: 1px solid cornflowerblue;
}

.App form label {
  font-size: large;
  padding-left: 10px;
}

.container {
  display: flex;
  justify-content: center;
  width: 280px;
  height: 38px;
  margin: 10px;
}

.container input,
.container output {
  border: 1px solid hsl(0, 0%, 80%);
  border-right: 0;
  line-height: 38px;
  padding: 0 0 0 12px;
  width: 135px;
  border-radius: 4px 0 0 4px;
  text-align: left;
}

:focus-visible {
  outline: none;
}
